/* Add to your global CSS file */
.prose {
  color: #374151;
  max-width: 65ch;
}

.prose h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #111827;
}

.prose h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  color: #1f2937;
}

.prose h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  color: #374151;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 1.75;
}

.prose ul,
.prose ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose ul > li {
  position: relative;
  padding-left: 1.5em;
}

.prose ul > li::before {
  content: "";
  position: absolute;
  background-color: #0d9488;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: 0.6875em;
  left: 0.25em;
}

.prose strong {
  font-weight: 600;
  color: #111827;
}

.prose a {
  color: #0d9488;
  text-decoration: underline;
  font-weight: 500;
}

.prose a:hover {
  color: #0f766e;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}